* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
}

.container {
  width: 1300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  width: 250px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  background-color: #a70024;
  color: #fff;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 30px;
  margin: 0 5px 5px 0;
}

p {
  font-size: 20px;
  /* background-color: transparent; */
}
